.cart {
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 15px;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2rem;
  cursor: pointer;
  right: 3rem;

  i {
    transform: rotate(-45deg);
  }

  .count {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    position: absolute;
    top: -8px;
    left: -9px;
    transform: rotate(-45deg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 0.6rem;
  }

  .card-container {
    margin-left: 100px;
    padding-left: 190px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
  }

.headerdiv {
    border: 1px solid white;
    height: 200x;
    margin-top: 20vh;
    margin-bottom: 80vh;
    width: 400px;
    float: left;
    margin-left:15vh;
    border-radius:10px;
}


}


