.total-card {
    border: 1px solid white;
    height: 200x;
    margin-top: 80vh;
    margin-bottom: 20vh;
    width: 400px;
    float: right;
    margin-left:15vh;
    border-radius:10px;
}

.total-card-top >h1 {
    margin-top: 8px;
    margin-left: 5px;
}



